<ion-view title="Actions" id="page4">
    <ion-content padding="true" class="has-header">
        <form id="actions-form6" class="list">
            <button id="actions-button4" class="button button-positive  button-block icon ion-search"
                    ng-click="scanBC()">Scan</button>
            <label class="item item-input" id="actions-textarea6">
                <span class="input-label">UPC</span><input ng-model="product.upc" disabled type="text">
            </label>
            <label class="item item-input" id="actions-textarea3">
                <span class="input-label">Price</span><input ng-model="product.price" type="text">
            </label>
            <label class="item item-input" id="actions-textarea4">
                <span class="input-label">Name</span><input ng-model="product.name" type="text">
            </label>
            <label class="item item-input" id="actions-textarea5">
                <span class="input-label">UOM</span><input ng-model="product.uom" type="text">
            </label>

            <div class="product-image-container">
              <img ng-if="product.upc && hasImage" class="product-image"
                   ng-src="{{ hostIp }}public/{{ product.upc }}.jpg" alt="">
            </div>
        </form>
        <button id="actions-button5" class="button button-positive  button-block icon ion-android-add-circle"
                ng-disabled="addButtonFlag || !product.price || !product.uom || !product.upc || !product.name"
                ng-click="add(product)">Add</button>
        <button id="actions-button6" class="button button-positive  button-block icon ion-android-create"
                ng-disabled="!addButtonFlag || !product.price || !product.uom || !product.upc || !product.name"
                ng-click="modify()">Modify</button>
        <a ui-sref="compare" id="actions-button7" class="button button-positive  button-block icon ion-location"
           ng-disabled="!product.price">Compare</a>
    </ion-content>
</ion-view>
