<ion-view title="Compare" id="page5">
    <ion-content padding="true" class="has-header">
        <ion-list id="compare-list1">
            <ion-item ng-repeat="p in products | orderBy: 'value'" id="compare-list-item1">{{ p.market_name }} ({{ p.address }}): $ {{ p.value }}</ion-item>
        </ion-list>
    </ion-content>
</ion-view>
