<ion-view title="Crowdsourcing" id="page1">
    <ion-content padding="true">
        <!-- SELECT Location  -->

        <div id="croudSourcing-markdown1" style="color:#000000;">
            <p>Near Locations</p>
        </div>
        <form id="croudSourcing-form2" class="list">
            <label class="item item-select" id="croudSourcing-select2">
                <span class="input-label">-</span>

                <select ng-options="market as market.name  for market in markets track by market.id"
                        ng-model="marketSelected"
                        ng-change="optionChange(marketSelected)">
                  <option value="" >Select a Market</option>
                </select>
            </label>
        </form>
        <div id="croudSourcing-markdown2" style="color:#000000;"></div>

        <!-- ADD Location  -->
        <div class="add-location" ng-if="showNewMarketInputs">
          <div id="croudSourcing-markdown3" style="color:#000000;">
              <p>Add Location</p>
          </div>
          <form id="croudSourcing-form3" class="list">
              <label class="item item-input" id="croudSourcing-input1">
                  <span class="input-label">Market Name</span>
                  <input type="text" ng-model="market.name" placeholder="">
              </label>
              <label class="item item-input" id="croudSourcing-input2">
                  <span class="input-label">Address</span>
                  <input type="text" ng-model="market.address" placeholder="">
              </label>
          </form>
        </div>

        <a ui-sref="actions"
           class="button button-positive button-block"
           ng-if="marketSelected.id != -1"
           ng-disabled="disableStart"
           ng-click="start(marketSelected)">Start</a>

         <a class="button button-positive button-block"
            ng-if="marketSelected.id == -1"
            ng-disabled="(!market.name || !market.address)"
            ng-click="start(marketSelected)">Create</a>
    </ion-content>
</ion-view>
